#change-pass {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.change-pass-btn {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background:  #1DD1A1 ;
    height: 35px;
    box-shadow:  0px 0px 16px rgba(0, 0, 0, 0.17);
    border-radius:  5px;
}
